body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    
  }

  html {
    min-height: 100%;
  }
  
  body {
    min-height: 100vh;
  }

  .modal-backdrop{
    z-index: -1;
  }
  
  ngb-modal-backdrop{
    z-index: -1;
  }